<div class="center hero-unit">
  <h1>Welcome to Flightplanning.com</h1>

  <h2>
    This is the home page for the...
  </h2>

  <%= link_to "Sign Up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("flugplanung.JPG", alt: "Flightplanning", class:"center"), 'http://flightplanning.com/' %>