<footer class="footer">
  <small>
    <a href="http://flugplanung.com/">Flugplanung</a>
    by Bernd Kolb
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über uns",   about_path %></li>
      <li><%= link_to "Kontakt", contactus_path %></li>
      <li><a href="http://news.flugplanung.org/">News</a></li>
    </ul>
  </nav>
</footer>